<div class="container-fluid">
    <h1 class="page-header">
        <small>
            Contacts Us
        </small>
    </h1>
    <form class="form-horizontal col-lg-6 col-lg-offset-3" data-aria="contact form">
        <div class="form-group">
            <label for="fullName" class="label label-default">Full Name:</label>
            <br/>
            <br/>
            <input type="text" id="fullName" class="form-control" data-aria="text"/>
        </div>
        <div class="form-group">
            <label for="email" class="label label-default">Email:</label>
            <br/>
            <br/>
            <input type="email" id="email" class="form-control" data-aria="text"/>
        </div>
        <div class="form-group">
            <label for="message" class="label label-default">Message:</label>
            <br/>
            <br/>
            <textarea id="message" class="form-control" data-aria="text"></textarea>
        </div>
        <div class="form-group">            
            <br/>
            <br/>
            <input type="submit" value="Send Message" class="btn btn-primary form-control" data-aria="button"/>
        </div>
    </form>
</div>