.left-side-nav {
    background-color: white;
    box-shadow: 3px 3px 12px silver;
    border-radius: 3px;
    height: auto;
    position: absolute;
    left: -102%;
    display: block;
}

.left-side-nav p{
    width: 100%;
    margin: 5px auto;
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}           

.left-side-nav p{
    width: 100%;
}

#showMenu{
    font-size: 40px;                
    color: white;               
    display: inline-block;
    cursor: pointer;
    margin: 5px 0  0 5px;
}

.header{
    background-color: black;
}

.list-group-item:hover{
    background-color: #cccccc;
} 

.list-group-item{
    padding: 0;
    height: 42px;
}

.list-group-item a{
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 42px;
    display: block;
    padding: 10px 0 0 10px; 
}

p {
    text-align: justify;
    text-indent: 50px;
}


/*animation  - view*/
.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all linear 0.4s;  
}

.view-animate.ng-enter {       
    opacity: 0;    
}

.view-animate.ng-enter.ng-enter-active {      
    opacity: 1;
}

.view-animate.ng-leave{     
    opacity: 0;  
}

.view-animate.ng-leave-active {   
    display: none;
    opacity: 0;    
}

/*animate form submission error message*/
.custom-error-class{                
    color: red;				
    font-size: 12px;
    position: absolute;	
    -webkit-transition: all linear 0.7s;
    -moz-transition: all linear 0.7s;
    transition: all linear 0.7s;
    display: block;
    width: 100%;
}

.custom-error-class.ng-hide {
    opacity:0;
} 